<h1>REGISTER</h1>

<form action="/create_user" method="POST">
	username:
	<input type="text" name="username">
	<br>
	password:
	<input type="password" name="password">
	<br>
	first name:
	<input type="text" name="fname">
	<br>
	last name:
	<input type="text" name="lname">
	<br>
	email address:
	<input type="text" name="email_address">
	<br>
	avatar:
	<input type="file" name="avatar">
	<br>
	<input type="submit" value="register">
</form>